[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[[source]]
url = "https://download.pytorch.org/whl/cu121"
verify_ssl = true
name = "pytorch"

[packages]
torch = {version="2.4.0+cu121", index="pytorch"}
torchvision = {version="0.19.0+cu121", index="pytorch"}
torchaudio = {version="2.4.0+cu121", index="pytorch"}
ultralytics = "*"
ipykernel = "*"
moviepy = "*"
albumentations = "*"

[dev-packages]

[requires]
python_version = "3.12"
